.app-add-plan-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(192, 191, 191);
    margin-bottom: 50px;
  
    h1 {
      font-family: $fontPrimary;
      text-transform: uppercase;
      color: $colorDeco;
    }
  }
  

  
.app-add-plan-form {
    
    
  
}

.title-cnt,
.description-cnt,
.weekNumber-cnt {
    padding: 10px 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.app-add-plan-labels {
    
}
.form-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: auto;
}

.form-input {
    width: 80%;
    margin-left: auto;
}

#weekNumber{
    width: 10%;
}

.table-week{
    width: 100%;
    border-collapse: collapse;
}

.table-week__header{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.selectionFood {
    text-align: center;
}
