// variables colors

$colorBackground: #FFFFFA;
$colorTrash: #BD4932;
$colorSuccess: #468966;
$colorWarning: #FFB03B;
$colorInfo: #3498DB;
$colorNav: #5B605F;
$colorText: #4a4a49;
$colorTextSecondary: #A1A194;
$colorDeco: #FF6600;

// extra variables 

$fontPrimary:'Open Sans',
sans-serif;
$fontLogo:'Charmonman',
sans-serif;
$fontSize: 14px;